
. font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}

*{
  margin: 0px;
  padding: 0px;
}
li{
  list-style: none;
}
.logo{
  display: flex;

}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
}

.menu{
  list-style: none;
  /* margin-left: auto; */
  /* margin-right: auto; */
  gap: 30px;
  display: flex;
  margin:  0 auto;

}

.menu li a{
  text-decoration: none;
  font-weight: 500px;
}

.btn{
  background-color: #469165;
}

.banner{
  background-image: url(./images/B13-A01-Knowledge-Vault-main/assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
}

.banner-container{
  text-align: center;
  
}
.banner-container img{
  text-align: center;
  margin-right: 10px;
  
}

.banner .socile{
  font-size: 25px;
  color: #469165;
  background-color: white;
  padding: 5px 20px;
  width: fit-content;
  margin: 0 auto 20px; 
  border-radius: 50px;
}

.banner .socile-title{
  font-size: 85px;
  color: white;
  margin-bottom: 30px;
}

.banner .socile-title span{
  color: #469165;
}

.btn{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn-btn{
  padding: 14px 30px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
}

.btn-primary{
  background-color: #2b6e47;
  color: white;
}

.btn-secondary{
  background-color: transparent;
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
}

